.version.ana_luzia_lacerda /* version checker */
{
	color: #000014;
	background-color: #BBB2BC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 336px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 258px;
	margin-left: auto;
	margin-right: auto;
}

#u188-3
{
	z-index: 103;
	width: 5px;
	margin-right: -10000px;
	margin-top: 177px;
	left: -105px;
}

#ppu194
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: -2px;
}

#pu194
{
	width: 0.01px;
}

#u194
{
	z-index: 6;
	width: 960px;
	margin-right: -10000px;
}

#u126-4
{
	z-index: 8;
	width: 932px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 2px;
}

#menuu127
{
	z-index: 12;
	width: 940px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 4px;
}

#u128
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
}

#u129
{
	width: 115px;
	padding-bottom: 17px;
}

#u129:hover
{
	margin: 0px;
}

#u129:active
{
	margin: 0px;
}

#u132-4
{
	width: 115px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u129:hover #u132-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u129:active #u132-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u143
{
	width: 115px;
	min-height: 34px;
	margin-right: -10000px;
	left: 117px;
}

#u144
{
	width: 115px;
	padding-bottom: 17px;
}

#u129.MuseMenuActive,#u144:hover
{
	margin: 0px;
}

#u144:active
{
	margin: 0px;
}

#u146-4
{
	width: 101px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u129.MuseMenuActive #u132-4,#u144:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u147
{
	z-index: 25;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 101px;
}

#u144:hover #u147
{
	margin: 0px -10000px 0px 0px;
}

#u144:active #u147
{
	margin: 0px -10000px 0px 0px;
}

#u377
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u377:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u379-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u377:hover #u379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u391
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u377.MuseMenuActive,#u391:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u393-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u377.MuseMenuActive #u379-4,#u391:hover #u393-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u398
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u391.MuseMenuActive,#u398:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u399-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u391.MuseMenuActive #u393-4,#u398:hover #u399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u135
{
	width: 116px;
	min-height: 34px;
	margin-right: -10000px;
	left: 234px;
}

#u138
{
	width: 116px;
	padding-bottom: 17px;
}

#u144.MuseMenuActive,#u138:hover
{
	margin: 0px;
}

#u138:active
{
	margin: 0px;
}

#u141-4
{
	width: 116px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u144.MuseMenuActive #u146-4,#u138:hover #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u138:active #u141-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u150
{
	width: 116px;
	min-height: 34px;
	margin-right: -10000px;
	left: 352px;
}

#u153
{
	width: 116px;
	padding-bottom: 17px;
}

#u138.MuseMenuActive,#u153:hover
{
	margin: 0px;
}

#u153:active
{
	margin: 0px;
}

#u156-4
{
	width: 116px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u138.MuseMenuActive #u141-4,#u153:hover #u156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u153:active #u156-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u157
{
	width: 116px;
	min-height: 34px;
	margin-right: -10000px;
	left: 470px;
}

#u160
{
	width: 116px;
	padding-bottom: 17px;
}

#u153.MuseMenuActive,#u160:hover
{
	margin: 0px;
}

#u160:active
{
	margin: 0px;
}

#u163-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u153.MuseMenuActive #u156-4,#u160:hover #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u160:active #u163-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	z-index: 64;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 10px;
	left: 102px;
}

#u144.MuseMenuActive #u147,#u160:hover #u162
{
	margin: 0px -10000px 0px 0px;
}

#u160:active #u162
{
	margin: 0px -10000px 0px 0px;
}

#u160.MuseMenuActive #u162
{
	margin: 0px -10000px 0px 0px;
}

#u148,#u158
{
	width: 120px;
	top: 34px;
}

#u403
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u398.MuseMenuActive,#u403:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u405-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u398.MuseMenuActive #u399-4,#u403:hover #u405-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u413
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u403.MuseMenuActive,#u413:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u415-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u403.MuseMenuActive #u405-4,#u413:hover #u415-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u149,#u376,#u388,#u395,#u159,#u402,#u412,#u419
{
	width: 120px;
}

#u422
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u413.MuseMenuActive,#u422:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u422.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u425-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u413.MuseMenuActive #u415-4,#u422:hover #u425-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u422.MuseMenuActive #u425-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u546
{
	width: 116px;
	min-height: 34px;
	margin-right: -10000px;
	left: 588px;
}

#u570
{
	width: 116px;
	padding-bottom: 17px;
}

#u160.MuseMenuActive,#u570:hover
{
	margin: 0px;
}

#u570:active
{
	margin: 0px;
}

#u573-4
{
	width: 116px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u160.MuseMenuActive #u163-4,#u570:hover #u573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u570:active #u573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u164
{
	width: 116px;
	min-height: 34px;
	margin-right: -10000px;
	left: 706px;
}

#u165
{
	width: 116px;
	padding-bottom: 17px;
}

#u570.MuseMenuActive,#u165:hover
{
	margin: 0px;
}

#u165:active
{
	margin: 0px;
}

#u167-4
{
	width: 116px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u570.MuseMenuActive #u573-4,#u165:hover #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u165:active #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u171
{
	width: 116px;
	min-height: 34px;
	margin-right: -10000px;
	left: 824px;
}

#u172
{
	width: 116px;
	padding-bottom: 17px;
}

#u165.MuseMenuActive,#u172:hover
{
	margin: 0px;
}

#u172:active
{
	margin: 0px;
}

#u172.MuseMenuActive
{
	margin: 0px;
}

#u175-4
{
	width: 116px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u165.MuseMenuActive #u167-4,#u172:hover #u175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u172:active #u175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u172.MuseMenuActive #u175-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu450
{
	width: 0.01px;
	margin-top: -1px;
}

#u450
{
	z-index: 2;
	width: 168px;
	margin-right: -10000px;
	left: 496px;
}

#u465
{
	z-index: 4;
	width: 185px;
	margin-right: -10000px;
	left: 139px;
}

#u236
{
	z-index: 106;
	width: 139px;
	margin-right: -10000px;
}

#u445
{
	z-index: 108;
	width: 196px;
	margin-right: -10000px;
	left: 312px;
}

#u455
{
	z-index: 110;
	width: 152px;
	margin-right: -10000px;
	left: 658px;
}

#u460
{
	z-index: 112;
	width: 150px;
	margin-right: -10000px;
	left: 810px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 100px;
}

#page .verticalspacer
{
	clear: both;
}

